<div class="wardrobe-wizard-header">
  <img src="/svg/logo.svg" alt="Wardrobe Wizard Logo" width="100" height="100">
  <h1>Wardrobe Wizard</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Wardrobe Wizard</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/landing">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/wardrobe">Wardrobe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
